{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}pathwaze{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/pathwaze.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to pathwaze.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>
    {% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a class="contribute" href="" data-toggle="modal" data-target="#joinUsModal">CONTRIBUTE GUIDE</a></li>-->
            <li><a class="contribute" href="{% url 'join' %}">CONTRIBUTE GUIDE</a></li>
            <!--<li><a href="{% url 'account_signup' %}">SIGNUP</a></li>
            <li><a href="{% url 'account_login' %}">LOGIN</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="joinUsModal" tabindex="-1" role="dialog" aria-labelledby="joinUsModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1>Join Our Community</h1>
            <h4>Help people find their way</h4>
            <span class="joinUsContent">We really appreciate your interest to be a part of Pathwaze and contributing to help others navigate confidently.  We are currently spamming coffee and working hard to bring you the guide contribution feature.</span> 
            <span class="joinUsContent">
              If you identify with what we are doing and would like to share your ideas with us or even just to say hi, drop us a message at
              <a href="mailto:agustiadi@pathwaze.org?subject=Hi%20Pathwaze&body=Love%20what%20you%20guys%20are%20doing%2E%20Please%20keep%20me%20posted%20on%20Pathwaze%27s%20updates%21">agustiadi@pathwaze.org</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    {% endblock navbar %}


    {% block content %}
        
    {% endblock content %}
    
    {% block footer %}
    <section class="footer"><!--Footer Bar-->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h5>All guides are built and contributed by our community. Let's navigate with confidence, together!</h5>
            <p>Mapping the world starting from the sunny island city of Singapore.</p> 
            <p>Made with <span class="glyphicon glyphicon-heart"></span> by Pathwaze</p>
          </div>
          <div class="col-md-4">
            <h5>Talk to us</h5>
            <span>The guy who is always getting lost:</span>
            <a href="mailto:agustiadi@pathwaze.org">agustiadi@pathwaze.org</a>
            <span>The guy who can't understand how the guy above is always lost:</span>
            <a href="mailto:joel@pathwaze.org">joel@pathwaze.org</a>
          </div>
        </div>
      </div>
    </section>
    {% endblock footer %}


    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/pathwaze.js' %}"></script>
    <script src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <!--Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67074789-1', 'auto');
      ga('send', 'pageview');

    </script>
    {% block extra_js %}{% endblock extra_js %}
    
    
  </body>
</html>
