{% extends 'base.html' %}

{% load static %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: transparent !important">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a class="contribute" href="" data-toggle="modal" data-target="#joinUsModal">CONTRIBUTE GUIDE</a></li>-->
        <li><a class="contribute" href="{% url 'join' %}">CONTRIBUTE GUIDE</a></li>
        <!--<li><a href="{% url 'account_signup' %}">SIGNUP</a></li>
        <li><a href="{% url 'account_login' %}">LOGIN</a></li>-->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="joinUsModal" tabindex="-1" role="dialog" aria-labelledby="joinUsModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1>Join Our Community</h1>
        <h4>Help people find their way</h4>
        <span class="joinUsContent">We really appreciate your interest to be a part of Pathwaze and contributing to help others navigate confidently.  We are currently spamming coffee and working hard to bring you the guide contribution feature.</span> 
        <span class="joinUsContent">
          If you identify with what we are doing and would like to share your ideas with us or even just to say hi, drop us a message at
          <a href="mailto:agustiadi@pathwaze.org?subject=Hi%20Pathwaze&body=Love%20what%20you%20guys%20are%20doing%2E%20Please%20keep%20me%20posted%20on%20Pathwaze%27s%20updates%21">agustiadi@pathwaze.org</a>
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock navbar %}

{% block content %}
<div id="NUS-background" class="hero-background">

  <div class="container hero-content page-content">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h1>Make Your Way Around NUS Confidently</h1>
          </div>
          <div class="col-md-12">
            <h3>Navigate with Confidence, Together.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form class="form-inline" action='{% url "search_guides" %}'>
              <div class="form-group">
                <input type="text"  name="q" class="form-control" id="search-bar" placeholder="Where are you heading to?">
              </div>
              <button type="submit" class="btn btn-default btn-pink btn-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a class="see-more" href="{% url 'browse' %}">See more guides</a>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  
</div>


<div id="nav-wrapper">
  <div id="nav" class="navbar landing-navbar">
    <div class="navbar-inner">
    </div>
  </div>
</div>


<div class="grey-background">
  
  <div class="container guide-list page-content">
    <div class="row">
      <div class="col-md-12">
        <h1>Recent Guides</h1>
      </div>
    </div>
    <div class="row">
      {% for guide in guides|slice:":9" %}
      <div class="col-md-4 guide-card">
        <a href={{BASE_URL}}"/guides/{{guide.slug}}/">
          <h4 class="guide-name">{{guide.destination_name}}</h4>
        </a>
        <div class="guide-from">
          <span>From: </span>
          <span>{{guide.starting_point_name}}</span>
        </div>
        <a href= {{BASE_URL}}"/guides/{{guide.slug}}/" target='_blank'>
          <div class="guide-photo">
            <img class="cover-photo" src= {{MEDIA_URL}}{{guide.cover_image}} />
            <span class="mapper-label">Mapped by:</span>
            <div class="profile-photo">
              <img src= {{MEDIA_URL}}{{guide.get_profile_pic}} />
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-12">
        <a class="a-link more-guides" href="{% url 'browse' %}">MORE GUIDES</a>
      </div>
    </div>
  </div>
  
</div>
{% endblock content %}

{% block footer %}
  <div class="grey-background">
    <section class="footer"><!--Footer Bar-->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h5>All guides are built and contributed by our community. Let's navigate with confidence, together!</h5>
            <p>Mapping the world starting from the sunny island city of Singapore.</p> 
            <p>Made with <span class="glyphicon glyphicon-heart"></span> by Pathwaze</p>
          </div>
          <div class="col-md-4">
            <h5>Talk to us</h5>
            <span>The guy who is always getting lost:</span>
            <a href="mailto:agustiadi@pathwaze.org">agustiadi@pathwaze.org</a>
            <span>The guy who can't understand how the guy above is always lost:</span>
            <a href="mailto:joel@pathwaze.org">joel@pathwaze.org</a>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock footer %}

{% block extra_js %}
<script>
  $(function() {
      $('#nav-wrapper').height($("#nav").height());
      
      $('#nav').affix({
          offset: { top: $('#nav').offset().top }
      });
  });
</script>
{% endblock extra_js %}