{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container page-content">
  <div class="row">
    <div class="col-md-12" style="text-align:center">
      <iframe src="https://docs.google.com/forms/d/1YUZIZYok5nhLtMRM_8iEViijkPARM1eLynytsSMKhvA/viewform?embedded=true" width="760" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>      
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}