{% extends 'base.html' %}

{% block content %}

<div class="grey-background">
  
    <div class="container guide-list page-content">
        <div class="row">
            <div class="col-md-7">
                <form class="form-inline" action='{% url "search_within_browse" %}'>
                    <div class="form-group">
                        <input type="text" name="q" class="form-control" id="search-bar" placeholder="Where are you heading to?">
                    </div>
                    <button type="submit" class="btn btn-default btn-pink btn-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
            <!-- <h1>{{query}}</h1> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="results-summary">{{guides.count}} guides found...</span>
            </div>
            <div class="col-md-12">
                <div class="row">
                    {% for guide in guides %}
                    <div class="col-md-4 guide-card">
                        <a href= {{BASE_URL}}"/guides/{{guide.slug}}/" target='_blank'>
                            <h4 class="guide-name">{{guide.destination_name}}</h4>
                        </a>
                        <div class="guide-from">
                            <span>From: </span>
                            <span>{{guide.starting_point_name}}</span>
                        </div>
                        <a href= {{BASE_URL}}"/guides/{{guide.slug}}/" target='_blank'>
                            <div class="guide-photo">
                                <img class="cover-photo" src= {{MEDIA_URL}}{{guide.cover_image}} />
                                <span class="mapper-label">Mapped by:</span>
                                <div class="profile-photo">
                                    <img src= {{MEDIA_URL}}{{guide.get_profile_pic}} />
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block footer %}
  <div class="grey-background">
    <section class="footer"><!--Footer Bar-->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h5>All guides are built and contributed by our community. Let's navigate with confidence, together!</h5>
            <p>Mapping the world starting from the sunny island city of Singapore.</p> 
            <p>Made with <span class="glyphicon glyphicon-heart"></span> by Pathwaze</p>
          </div>
          <div class="col-md-4">
            <h5>Talk to us</h5>
            <span>The guy who is always getting lost:</span>
            <a href="mailto:agustiadi@pathwaze.org">agustiadi@pathwaze.org</a>
            <span>The guy who can't understand how the guy above is always lost:</span>
            <a href="mailto:joel@pathwaze.org">joel@pathwaze.org</a>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock footer %}