{% extends 'base.html' %}

{% load static %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: transparent !important">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="contribute" href="#contribute">CONTRIBUTE GUIDE</a></li>
        <!--<li><a href="{% url 'account_signup' %}">SIGNUP</a></li>
        <li><a href="{% url 'account_login' %}">LOGIN</a></li>-->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
{% endblock navbar %}

{% block content %}
<div id="NUS-background" class="hero-background">

  <div class="container hero-content page-content">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h1>Navigate with Confidence, Together.</h1>
          </div>
          <div class="col-md-12">
            <h3>Nobody should ever get lost</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form class="form-inline" action='{% url "search_within_NUS" %}'>
              <div class="form-group">
                <input type="text"  name="q" class="form-control" id="search-bar" placeholder="Where are you heading to?">
              </div>
              <button type="submit" class="btn btn-default btn-pink btn-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  
</div>

<div id="nav-wrapper">
  <div id="nav" class="navbar landing-navbar">
    <div class="navbar-inner">
    </div>
  </div>
</div>

<div class="grey-background">
    <div class="container guide-list page-content">        
        <div class="row">
            {% if guides %}
            <div class="col-md-12">
                <h1>{{guides.count}} guides for {{album_tag}} album</h1>
            </div>
            <div class="col-md-12">
                <div class="row">
                    {% for guide in guides %}
                    <div class="col-md-4 guide-card">
                        <a href= {{BASE_URL}}"/guides/{{guide.slug}}/" target='_blank'>
                            <h4 class="guide-name">{{guide.destination_name}}</h4>
                        </a>
                        <div class="guide-from">
                            <span>From: </span>
                            <span>{{guide.starting_point_name}}</span>
                        </div>
                        <a href= {{BASE_URL}}"/guides/{{guide.slug}}/" target='_blank'>
                            <div class="guide-photo">
                                <img class="cover-photo" src= {{MEDIA_URL}}{{guide.cover_image}} />
                                <span class="mapper-label">Mapped by:</span>
                                <div class="profile-photo">
                                    <img src= {{MEDIA_URL}}{{guide.get_profile_pic}} />
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
                <p>There is no album with this tag</p>
            {% endif %}
        </div>
       
    </div>
</div>

</div>
{% endblock content %}

{% block footer %}
  <div class="grey-background">
    <section class="footer"><!--Footer Bar-->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h5>All guides are built and contributed by our community. Let's navigate with confidence, together!</h5>
            <p>Mapping the world starting from the sunny island city of Singapore.</p> 
            <p>Made with <span class="glyphicon glyphicon-heart"></span> by Pathwaze</p>
          </div>
          <div class="col-md-4">
            <h5>Talk to us</h5>
            <span>The guy who is always getting lost:</span>
            <a href="mailto:agustiadi@pathwaze.org">agustiadi@pathwaze.org</a>
            <span>The guy who can't understand how the guy above is always lost:</span>
            <a href="mailto:joel@pathwaze.org">joel@pathwaze.org</a>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock footer %}

{% block extra_js %}
<script>
  $(function() {
      $('#nav-wrapper').height($("#nav").height());
      
      $('#nav').affix({
          offset: { top: $('#nav').offset().top }
      });
  });
</script>
{% endblock extra_js %}