{% extends 'base.html' %}

{% block content %}

<div class="white-background">
    <div class="container form-header page-content">
        <div class="row">
            <div class="col-md-12">
                <h1>Contribute a Guide</h1>
                <h4>Help us build a world where nobody gets lost.</h4>
            </div>
        </div>
    </div>
</div>

<div class="grey-background">
    <div class="container form-content">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form class="form-inline create-guide" action="" method="POST" action="">
                  {% csrf_token %}
                  {{ form.non_field_errors }}
                  <h4 class="form-title">Destination</h4>
                  <div class="form-group">
                    <input id="" name="" type="text" class="form-control" placeholder="Name of Destination"> 
                  </div>
                  <div class="form-group">
                    <input id="" name="" type="text" class="form-control" placeholder="Address">
                    <span class="optional">(Optional)</span>
                  </div>
                  <div class="form-group">
                    <input id="" name="" type="number" class="form-control" placeholder="Postal Code">
                    <span class="optional">(Optional)</span>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div id="fileUpload" class="fileUpload upload-guide-img form-group">
                        <img id="uploaded-image" src="#" alt="your image" />
                        <span id="upload-icon" class="upload-icon"></span>
                        <span id="upload-text" class="upload-text">+ Add Cover Photo</span>
                        <input id="fileupload" type="file" name="files[]" data-url="" class="upload form-control">
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="img-optional">
                          <span class="img-encourage">Add a beautiful picture to show where your guide leads to</span>
                          <span class="optional">(Optional)</span>
                      </div>
                    </div>
                  </div>
                  <h4 class="form-title">Starting Location</h4>
                  <div class="form-group">
                    <input id="" name="" type="text" class="form-control" placeholder="Name of Starting Location"> 
                  </div>
                  <div class="form-group">
                    <input id="" name="" type="text" class="form-control" placeholder="Address"> 
                    <span class="optional">(Optional)</span>
                  </div>
                  <div class="form-group">
                    <input id="" name="" type="number" class="form-control" placeholder="Postal Code">
                    <span class="optional">(Optional)</span>
                  </div>
                  <hr>
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button type="submit" class="btn btn-default btn-pink">NEXT</button>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script>
document.getElementById('fileupload').onchange = function (e) {
    var loadingImage = loadImage(
        e.target.files[0],
        function (img) {
            var image = document.body.appendChild(img);
            image.setAttribute("id","uploaded-image");
            document.getElementById('fileUpload').style.cssText = 'width:100%; height:auto; box-shadow: none;';
            document.getElementById('fileupload').style.cssText = 'width:100%; height:100%;';
            document.getElementById('upload-icon').style.cssText = 'display:none;';
            document.getElementById('upload-text').style.cssText = 'display:none;';
            $('#uploaded-image').replaceWith(image);
            document.getElementById('uploaded-image').style.cssText = 'width:100%; height:100%; display:inline;';
        },
        {
            maxWidth: 600,
            maxHeight: 300,
            cover: true
        } // Options
    );
};
</script>
{% endblock extra_js %}