{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="white-background">
    <div class="container guide-header page-content">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>{{guide}}</h1>
                <span>Mapped by: </span><span class="contributor-name">{{contributor.contributor}}</span>
                <!-- <img src = {{MEDIA_URL}}{{contributor.profile_pic}} width="50" /> -->
                <!-- <h5>Created on: {{guide.created}}</h5> -->
            </div>
        </div>
    </div>
</div>
        
<div class="grey-background">
    <div class="container guide-cover-photo">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <span>{{guide.number_of_views}} views</span>
                <img src={{MEDIA_URL}}{{guide.cover_image}} />
            </div>
        </div>
    </div>
</div>        
<div class="white-background">
    <div class="container guide-content">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row guide-summary-and-map">
                    <div class="col-md-8 guide-summary">
                        <div class="guide-start">
                            <span>{{guide.starting_point_name}}</span>
                            <span>{{guide.starting_point_address}}</span>
                        </div>
                        <div class="guide-middle">
                            <img src="{% static 'images/walk.png' %}" />
                            <hr>
                        </div>
                        <div class="guide-end">
                            <span>{{guide.destination_name}}</span>
                            <span>{{guide.destination_address}}</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="map"></div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="row guide-steps">
            <div class="col-md-8 col-md-offset-2">
            {% for step in steps %}
                <span class="step-number">{{step.step_number}}</span>
                <span class="step-description">{{step.step_text|urlize}}</span>
                {% if step.step_image %}
                <div class="step-image-wrapper">
                    <img class="step-image" src = {{MEDIA_URL}}{{step.step_image}} />
                </div>
                {% else %}
                    <div class="step-image"></div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="row guide-thanks">
            <div class="col-md-8 col-md-offset-2 grey-background">
                <h1>Reached!</h1>
                <form id="form_thank" method='POST' action='' enctype="multipart/form-data"> 
                    {% csrf_token %}
                    {{ thank_form.as_p }}
                    <div id="results"></div>
                    <div class="btn-thanks-hidden">
                        <button type="submit" id="thanks" class="btn btn-animate btn-thanks" /><span class="glyphicon glyphicon-heart"> </span> Thank {{contributor.contributor}}</button>
                    </div>
                    <!--<span id="thanks-cta" style="display:none">If this guide has helped you, we really hope that you will <a href="{% url 'join' %}">join our community</a> and help others by creating similar guides of places that you are familiar with!</span>-->
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="disqus_thread"></div>
                    <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES * * */
                    var disqus_shortname = 'pathwaze';
        
                    /* * * DON'T EDIT BELOW THIS LINE * * */
                     (function() {
                     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                     dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                     })();
                    </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>
</div>  

{% endblock content %}

{% block extra_js %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>

    $('#form_thank').on('submit', function(event){
        event.preventDefault();
        console.log("form submitted!")  // sanity check
        thank_contributor();
    });
    
    function thank_contributor() {
        console.log("thank contributor working") // sanity check
        $.ajax({
            url : "thank_contributor/", // the endpoint
            type : "POST", // http method
            data : { the_guide : $('#id_guide').val(), the_user : $('#id_user').val(), }, // data sent with the post request
    
            // handle a successful response
            success : function(json) {
                //$('#post-text').val(''); // remove the value from the input
                console.log(json); // log the returned json to the console
                console.log("success"); // another sanity check
            },
    
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    };
    
    // This function gets cookie with a given name
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    
    /*
    The functions below will create a header with csrftoken
    */
    
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    
    $('.btn-thanks').on('click', function() {
        $(this).addClass('active');
        $(this).removeClass('btn-animate');
        // remove to redirect to thanks google form
        //document.getElementById('thanks-cta').style.cssText = 'display: block;';
        window.open(
          '{% url "thanks" %}',
          '_blank' // <- This is what makes it open in a new window.
        );
    })
    
    function initialize() {
        
        var locations = [
          ['DESCRIPTION', {{guide.destination_lat}},{{guide.destination_long}}, 2],
          ['DESCRIPTION', {{guide.starting_point_lat}},{{guide.starting_point_long}}, 1]
        ];
        
        console.log(locations)
    
        window.map = new google.maps.Map(document.getElementById('map'), {
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
    
        var bounds = new google.maps.LatLngBounds();
        var infowindow = new google.maps.InfoWindow();    
    
        for (i = 0; i < locations.length; i++) {  
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
          });
    
          //extend the bounds to include each marker's position
          bounds.extend(marker.position);
    
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infowindow.setContent(locations[i][0]);
              infowindow.open(map, marker);
            }
          })(marker, i));
        }
        map.fitBounds(bounds);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock extra_js %}

