{% extends 'base.html' %}

{% block content %}

<div class="white-background">
    <div class="container form-header page-content">
        <div class="row">
            <div class="col-md-12">
                <h1>Contribute a Guide</h1>
                <h4>Help us build a world where nobody gets lost.</h4>
            </div>
        </div>
    </div>
</div>

<div class="grey-background">
    <div class="container form-content">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form class="form-inline add-steps" action="" role="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                  <div class="item">
                      <h4 class="form-title">Step</h4><span class="form-title-step-number">1</span>
                      <a class="delete delete-step" href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                      <div class="row">
                          <div class="col-md-5">
                              <div id="fileUpload" class="fileUpload upload-guide-img form-group">
                                <img id="uploaded-image" src="#" alt="your image" />
                                <span id="upload-icon" class="upload-icon"></span>
                                <span id="upload-text" class="upload-text">+ Add Cover Photo</span>
                                <input id="fileupload" type="file" name="files[]" data-url="" class="upload form-control">
                              </div>
                          </div>
                          <div class="col-md-7">
                            <div class="img-optional">
                              <span class="optional">(Optional)</span>
                            </div>
                          </div>
                      </div>
                      <div class="form-group">
                        <textarea id="" name="" class="form-control step-description" placeholder="Description for this step…"></textarea> 
                      </div>
                      <hr>
                  </div>
                  
                  <a id="add" class="btn-add-step" href="#">ADD STEP</a>
                  <hr>
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button type="submit" class="btn btn-default btn-pink">PUBLISH</button>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script>
$(document).ready(function () {
    // Code adapted from http://djangosnippets.org/snippets/1389/  
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+-)');
        var replacement = prefix + '-' + ndx + '-';
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
        replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function deleteForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (formCount > 1) {
            // Delete the item/form
            $(btn).parents('.item').remove();
            var forms = $('.item'); // Get all the forms  
            // Update the total number of forms (1 less than before)
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            var i = 0;
            // Go through the forms and set their indices, names and IDs
            for (formCount = forms.length; i < formCount; i++) {
                $(forms.get(i)).children().children().each(function () {
                    if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
                });
            }
        } // End if
        else {
            alert("You have to enter at least one todo item!");
        }
        return false;
    }

    function addForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        // You can only submit a maximum of 40 steps. 
        if (formCount <= 40) {
            // Clone a form (without event handlers) from the first form
            var row = $(".item:first").clone(false).get(0);
            // Insert it after the last form
            $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

            // Remove the bits we don't want in the new row/form
            // e.g. error messages
            $(".errorlist", row).remove();
            $(row).children().removeClass("error");

            // Relabel or rename all the relevant bits
            $(row).children().children().each(function () {
                updateElementIndex(this, prefix, formCount);
                $(this).val("");
            });

            // Add an event handler for the delete item/form link 
            $(row).find(".delete").click(function () {
                return deleteForm(this, prefix);
            });
            // Update the total form count
            $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
        } // End if
        else {
            alert("Sorry, you can only enter a maximum of 40 steps.");
        }
        return false;
    }
    // Register the click event handlers
    $("#add").click(function () {
        return addForm(this, "form");
    });

    $(".delete").click(function () {
        return deleteForm(this, "form");
    });
});

document.getElementById('fileupload').onchange = function (e) {
    var loadingImage = loadImage(
        e.target.files[0],
        function (img) {
            var image = document.body.appendChild(img);
            image.setAttribute("id","uploaded-image");
            document.getElementById('fileUpload').style.cssText = 'width:100%; height:auto; box-shadow: none;';
            document.getElementById('fileupload').style.cssText = 'width:100%; height:100%;';
            document.getElementById('upload-icon').style.cssText = 'display:none;';
            document.getElementById('upload-text').style.cssText = 'display:none;';
            $('#uploaded-image').replaceWith(image);
            document.getElementById('uploaded-image').style.cssText = 'width:100%; height:100%; display:inline;';
        },
        {
            maxWidth: 600,
            maxHeight: 300,
            cover: true
        } // Options
    );
};
</script>
{% endblock extra_js %}