{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="white-background full-screen-background">
    <div class="container no-result page-content">
        <div class="row">
            <div class="col-md-8">
                <div class="no-result-title">
                    <h1>No guide for... </h1>
                    <h1>{{query}}</h1>
                </div>
                <h4>Help Mittens find its way</h4>
                <div class="row no-result-btn-group">
                    <div class="col-md-4"></div>
                    <!--<div class="col-md-4">
                        <a class="btn btn-pink" href="#">ADD GUIDE</a>
                    </div>-->
                    <div class="col-md-4">
                        <button class="btn btn-grey" data-toggle="modal" data-target="#request-modal">REQUEST GUIDE</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <hr>
                <div class="search-alpha">
                  <p>It could also be that our search v0.001a is not quite as good as we would like.</p>
                  <p>Try looking for the guides by <a href="{% url 'browse' %}">browsing</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <img id="lost" src="{% static "images/lost.png" %}"/>
            </div>
            
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="request-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="send-request">
                    <h1>Send a Request</h1>
                    <h4>for one of our Pathwazer will try to help you</h4>
                    <form method='POST' action='' enctype="multipart/form-data"> 
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="destination_name">destination</label>
                          <input id="destination_name" type="text" name="destination_name" class="form-control" value="{{query}}" placeholder="destination">
                        </div>
                        <div class="form-group">
                          <input id="destination_address" type="text" name="destination_address" class="form-control" placeholder="destination address">
                        </div>
                        <div class="form-group">
                          <label for="requester_email">we will notify you when the guide is up</label>
                          <input id="requester_email" type="email" name="requester_email" class="form-control" placeholder="your email" value="{{user.email}}">
                        </div>
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button type="submit" class="btn btn-default btn-pink">SEND REQUEST</button>
                        <!--<button type="submit" class="btn btn-default btn-pink" href="#share-request" aria-controls="share-request" role="tab" data-toggle="tab">SEND REQUEST</button>-->
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="share-request">
                    <div class="share-request-header">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><h1>Request Sent!</h1>
                    </div>
                    <h4>Help us map this world. Send this request to your friends.</h4>
                    
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a id="btn-facebook-request" href="#facebook-request" aria-controls="facebook" role="tab" data-toggle="tab">facebook</a></li>
                        <li role="presentation"><a id="btn-twitter-request" href="#twitter-request" aria-controls="twitter-request" role="tab" data-toggle="tab">twitter</a></li>
                        <li role="presentation"><a id="btn-email-request" href="#email-request" aria-controls="email-request" role="tab" data-toggle="tab">email</a></li>
                    </ul>
                    
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="facebook-request">
                            <form class="form-inline" id="" method="" action="">
                              {% csrf_token %}
                              {{ form.non_field_errors }}
                              <div class="form-group">
                                <textarea id="" placeholder="write your message...">Hi, I need help with directions to {{query}}. I will greatly appreciate if you can help me create a photo guide at Pathwaze.</textarea>
                              </div>
                              {% if redirect_field_value %}
                              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                              {% endif %}
                              <button type="button" class="btn btn-pink" href="#">SEND REQUEST</button>
                            </form>
                        </div>
                            
                        <div role="tabpanel" class="tab-pane" id="twitter-request"><form class="form-inline" id="" method="" action="">
                              {% csrf_token %}
                              {{ form.non_field_errors }}
                              <div class="form-group">
                                <textarea id="" placeholder="write your message...">Hi, I need help with directions to {{query}}. I will greatly appreciate if you can help me create a photo guide at Pathwaze.</textarea>
                              </div>
                              {% if redirect_field_value %}
                              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                              {% endif %}
                              <button type="button" class="btn btn-pink" href="#">SEND REQUEST</button>
                            </form>
                        </div>
                        
                        <div role="tabpanel" class="tab-pane" id="email-request">
                            <form class="form-inline" id="" method="" action="">
                              {% csrf_token %}
                              {{ form.non_field_errors }}
                              <div class="form-group">
                                <label for="email">To:</label>
                                <input id="" name="email" type="email" class="form-control" placeholder="email"> {{ form.email.errors }}
                              </div>
                              <div class="form-group">
                                <textarea id="" placeholder="write your message...">Hi, I need help with directions to {{query}}. I will greatly appreciate if you can help me create a photo guide at Pathwaze.</textarea>
                              </div>
                              {% if redirect_field_value %}
                              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                              {% endif %}
                              <button type="button" class="btn btn-pink" href="#">SEND REQUEST</button>
                            </form>
                        </div>
                    </div>

                </div>
              </div>
            
            
          </div>
        </div>
      </div>
    </div>
    
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}