

/*! project specific CSS goes here. */

html, .grey-background{
    background-color: #edefed;
}

.white-background{
    background-color: #ffffff;
}

.full-screen-background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.center{
    margin: 0 auto;
    text-align: center;
}

.float-right{
    float: right;
}

.a-link{
    color: #FF4081;
    font-size: 1em;
    text-transform: uppercase;
}

.a-link:hover{
    color: #FF80AB;
    text-decoration: none;
}

.btn-pink{
    color: rgba(255,255,255,0.87);
    background-color: #FF4081;
    border: 1px solid #D7366C;
}

.btn-pink:hover{
    color: rgba(255,255,255,1);
    background-color: #FF80AB;
}

.btn-grey{
    color: rgba(255,255,255,0.87);
    background-color: #607D8B;
    border: 1px solid #49636F;
}

.btn-grey:hover{
    color: rgba(255,255,255,1);
    background-color: #769AAB;
}


/* Navbar */
.navbar-inverse{
    background-color: #607D8B !important;
    border: none !important;
    opacity: 0.95;
}

.navbar-brand{
    padding: 11px 15px !important;
}

.navbar-inverse .navbar-nav li a{
    color: rgba(255,255,255,0.87) !important;
}

.navbar-inverse .navbar-nav li a:hover{
    color: rgba(255,255,255,1) !important;
}

.navbar-inverse .navbar-nav li .contribute{
    padding: 4px 20px;
    background-color: #FF4081;
    border-radius: 18px;
    margin-top: 11px;
}

.navbar-inverse .navbar-nav>li>.contribute:hover{
    background-color: #FF80AB;
}

.page-content{
    padding-top: 50px;
}

/* Footer */
.footer{
    color: rgba(0,0,0,0.54);
    padding: 0 0 20px;
    font-size: 0.857em;
}

.footer hr{
    border-top: 1px solid #d7d7d7;
    margin-bottom: 40px;
}

.footer h5{
    margin-top: 0;
}

.footer a{
    display: block;
    color: #FF4081;
}

.footer a:hover{
    color: #FF80AB;
}

/* Landing Page, Browse Page, Search Results Page */
.hero-background{
    background: #607D8B url(../images/landing-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#NUS-background{
    background: #607D8B url(../images/landing-background-nus.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-background .hero-content h1{
    color: #ffffff;
    margin: 165px auto 0;
    font-weight: normal;
}

.hero-background .hero-content h3{
    color: rgba(255,255,255,0.87);
    margin: 10px auto 0;
    font-weight: 300;
}

.hero-content{
    height: 650px;
}

#NUS-background .hero-content{
    text-align: center;
}

.hero-content form{
    margin-top: 80px;
    position: relative;
    overflow: auto;
}

.guide-list form{
    margin: 30px 0 50px;
    position: relative;
    overflow: auto;
}

.hero-content form .form-group, .guide-list form .form-group{
    position: absolute;
    left: 0;
    right: 83px;
    margin-bottom: 0px;
}

.hero-content form .form-group #search-bar, .guide-list form .form-group #search-bar{
    width: 100%;
    font-size: 1.25em;
    height: 50px;
    border: 1px solid #979797;
    border-radius: 2px 0px 0px 2px;
}

.btn-search{
    font-size: 1.5em;
    float: right;
    width:80px;
    position: relative;
    left: -4px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 0px 2px 2px 0px;
}

.see-more{
    margin-top: 12px;
    font-size: 0.875em;
    color: #FF4081;
    display: inline-block;
}

.see-more:hover{
    color: #ffffff;
    text-decoration: none;
}

.guide-list h1{
    font-size: 2.429em;
    color: rgba(0,0,0,0.54);
}

.guide-list .guide-card{
    margin-bottom: 30px;
}

.guide-list .guide-card a:hover{
    text-decoration: none;
}

.guide-list .guide-name{
    color: rgba(0,0,0,0.87);
    font-size: 1.286em;
    font-weight: bold;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.guide-list .guide-from{
    margin-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.guide-list .guide-from span{
    font-size: 1.143em;
    color: rgba(0,0,0,0.54);
}

.guide-list .guide-photo{
    width: 100%;
    height: 270px;
    position: relative;
}

.guide-list .guide-photo .cover-photo{
    width: 100%;
    height: 100%;
}

.guide-list .guide-photo .mapper-label{
    font-size: 0.857em;
    color: #ffffff;
    position: absolute;
    left: 15px;
    bottom: 55px;
}

.guide-list .guide-photo .profile-photo{
    position: absolute;
    left: 15px;
    bottom: 10px;
    overflow:auto;
}

.guide-list .guide-photo .profile-photo img{
    float: left;
    height: 40px;
    width: 40px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    margin-right: 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5)
}

.guide-list .results-summary{
    font-size: 1.143em;
    color: rgba(0,0,0,0.54);
    display: block;
    margin-bottom: 15px;
}

#nav-wrapper #nav{
    border-radius: 0;
}

.landing-navbar{
    height: 50px;
    background-color: #607D8B;
    z-index: 999;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%
}

#nav > .navbar-inner {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.more-guides{
    margin-bottom: 50px;
    display: block;
}

/* Accounts */

.form-header img{
    margin: 0 auto;
    display: block;
}

.form-header h1{
    padding-top: 20px;
    font-size: 2.429em;
    color: rgba(0,0,0,0.87);
    text-align: center;
    font-weight: normal;
}

.form-header h4{
    font-size: 1.143em;
    color: rgba(0,0,0,0.54);
    text-align: center;
    margin-bottom: 60px;
    font-weight: normal;
}

.form-content form{
    width: 80%;
    padding: 40px 0;
    margin: 0 auto;
}

.form-content form .form-group{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.form-content form .form-group .form-control{
    font-size: 1.143em;
    width: 100%;
    height: 45px;
    border-radius: 3px;
}

.form-content hr{
    border-top: 1px solid #d3d3d3;
    margin: 30px auto 0;
}

.form-content .btn-pink{
    font-size: 1.429em;
    width: 100%;
    padding: 12px 0;
    margin: 20px 0;
}

.form-content form span{
    font-size: 0.857em;
    color: rgba(0,0,0,0.54);
}

.form-content form .form-link{
    color: #FF4081;
}

.form-content form .forgot-password{
    color: rgba(0,0,0,0.54);
}

.form-content form .forgot-password:hover{
    color: #FF4081;
}

.form-content .a-link{
    display: block;
    margin: 20px 0;
    text-align: center;
}

.form-content form .errorlist{
    list-style: none;
    padding: 3px 14px 0;
    color: #D32F2F;
}

.form-content .login .float-right{
    width: 60%;
    text-align: right;
}

/* Create form */
.form-content .create-guide .form-title{
    font-size: 1.429em;    
    font-weight: 500;
    color: rgba(0,0,0,0.54);
    margin: 0 0 20px;
}

.form-content .create-guide .btn-pink{
    width: 40%;
    margin: 20px auto;
    display: block;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.form-content .create-guide .upload-guide-img{
    margin-bottom: 40px;
}

.form-content .create-guide .upload-guide-img, .form-content .add-steps .upload-guide-img{
    width: 250px;
    height: 160px;
    background: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
    text-align: center;
}

.form-content .create-guide .upload-guide-img img, .form-content .add-steps .upload-guide-img img{
    display: none;
}

.form-content .create-guide .upload-guide-img:hover, .form-content .add-steps .upload-guide-img:hover{
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.5);
}

.form-content .create-guide .upload-guide-img:hover .upload-text, .form-content .add-steps .upload-guide-img:hover .upload-text{
    color: #FF4081;
}

.form-content .create-guide .upload-guide-img #fileupload, .form-content .add-steps .upload-guide-img #fileupload{
    height: 160px;
}

.form-content .create-guide .upload-guide-img span, .form-content .add-steps .upload-guide-img span{
    font-size: 1.143em;
    display: block;
}

.form-content .create-guide .upload-guide-img .upload-icon, .form-content .add-steps .upload-guide-img .upload-icon{
    width: 33px;
    height: 33px;
    background: url(../images/upload-icon.png) no-repeat center;
    margin: 45px auto 15px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.bar {
    height: 18px;
    background: green;
}

.form-content form .form-group .optional{
    position: absolute;
    color: #b6b6b6;
    top: 15px;
    right: -60px;
}

.form-content form .img-optional .img-encourage{
    margin-top: 55px;
    display: block;
    width: 40%;
    color: rgba(0,0,0,0.54);
}

.form-content form .img-optional .optional{
    color: #B6B6B6;
    display: block;
    margin-top: 40px;
}

.form-content .add-steps .item .img-optional .optional{
    margin-top: 72px;
}

.form-content .add-steps .item .form-title{
    font-size: 1.714em;
    font-weight: normal;
    color: rgba(0,0,0,0.54);
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 24px;
}

.form-content .add-steps .item .form-title-step-number{
    font-size: 1.429em;
    line-height: 1.429em;
    font-weight: bold;
    color: #ffffff;
    background: #607D8B;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -1px;
}

.form-content .add-steps .item .delete-step{
    float: right;
    visibility: hidden;
}

.form-content .add-steps .item .delete-step span{
    font-size: 1.429em;
    color: #d7d7d7;
}

.form-content .add-steps .item .delete-step:hover span{
    color: #607D8B;
}

.form-content .item:hover .delete-step{
    visibility: visible;
}

.form-content .add-steps .item .step-description{
    height: 80px;
    resize: none;
}

.form-content .add-steps .btn-add-step{
    font-size: 1.429em;
    font-weight: 500;
    color: #607D8B;
    margin: 30px 0;
    display: block;
}

.form-content .add-steps .btn-add-step:hover{
    text-decoration: none;
    color: #6B8C9C;
}

.form-content .add-steps .btn-pink{
    margin: 40px auto;
    width: 40%;
    display: block;
}

/* Search */
.no-result{
    text-align: center;
}

.no-result .no-result-title{
    margin-top: 100px;
    text-align: center;    
}

.no-result .no-result-title h1{
    display: inline;
    font-size: 2.571em;
    font-weight: normal;
    color: rgba(0,0,0,0.54);
}

.no-result h4{
    margin-top: 8px;
    font-size: 1.714em;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}

.no-result .no-result-btn-group{
    margin-top: 40px;
    margin-bottom: 30px;
}

.no-result .no-result-btn-group a, .no-result .no-result-btn-group button{
    width: 100%;
    font-size: 1.429em;
    font-weight: 500;
    margin-top: 10px;
}

.no-result .btn-pink{
    padding: 10px 0;
}

.no-result .btn-grey{
    padding: 10px 0;
}

.no-result #lost{
    margin-top: 34px;
}

.no-result hr{
    border: 0;
    border: 2px dashed #eee;
    width: 90%;
    margin: 20px auto;
}

.no-result .search-alpha{
    font-size: 1.429em;
    color: rgba(0,0,0,0.54);
}

.no-result .search-alpha a{
    color: #FF4081;
    font-weight: 500;
}

body.modal-open .no-result{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

#request-modal .modal-dialog{
    /* Vertical align */
    
}

#request-modal .modal-body, #joinUsModal .modal-body{
    padding-top: 10px;
}

#request-modal .modal-body > .tab-content{
    width: 92%;
    margin: 0 auto;
}

#request-modal h1, #joinUsModal h1{
    font-size: 2.429em;
    font-weight: normal;
    color: rgba(0,0,0,0.54);
    margin-top: 20px;
    text-align:center;
}

#request-modal h4, #joinUsModal h4{
    font-size: 1.143em;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
    text-align: center;
}

#request-modal form{
    margin: 0 auto;
}

#request-modal form span, #request-modal form .form-group, #request-modal form button{
    display: block;
}

#request-modal form .form-group label[for=destination_name]{
    margin-top: 30px;
}

#request-modal form .form-group{
    font-weight: normal;
    color: rgba(0,0,0,0.54);
}

#request-modal form .form-group input{
    width: 100%;
    height: 40px;
    font-size: 1.143em;
}

#request-modal form button.btn-pink{
    font-size: 1.429em;
    font-weight: 500;
    display: block;
    padding: 10px 15px;
    margin: 25px auto 10px;
}

#request-modal #share-request .share-request-header{
    text-align: center;
}

#request-modal #share-request span{
    color: #4CAF50;
    font-size: 1.6em;
    margin-right: 12px;
    position: relative;
    top: -2px;
}

#request-modal #share-request h1{
    display: inline-block;
}

#request-modal #share-request ul.nav-tabs{
    border-bottom: transparent;
    margin-top: 35px;
}

#request-modal #share-request ul.nav-tabs li a{
    border: transparent;
    border-radius: 4px;
    width: 48px;
    height: 45px;
    margin-right: 30px;
    text-indent: -9999px;
    position: relative;
}

#request-modal #share-request ul.nav-tabs li a:hover:after{
    transform: translate(0,3px);
    transition: transform 400ms ease-in-out;
    transition-delay: 100ms;
}

#request-modal #share-request ul.nav-tabs li a:after{
    transform: translate(0,0px);
    transition: transform 400ms ease-in-out;
    transition-delay: 100ms;
}

#request-modal #share-request ul.nav-tabs li #btn-facebook-request{
    background: #1C2E53;
}

#request-modal #share-request ul.nav-tabs li #btn-twitter-request{
    background: #2D9EC1;
}

#request-modal #share-request ul.nav-tabs li #btn-email-request{
    background: #9B0702;
}

#request-modal #share-request ul.nav-tabs li #btn-facebook-request:after{
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 48px;
    height: 45px;
    background: url(../images/request-share.png);
}

#request-modal #share-request ul.nav-tabs li #btn-twitter-request:after{
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 48px;
    height: 45px;
    background: url(../images/request-share.png);
    background-position: 0 90px;
}

#request-modal #share-request ul.nav-tabs li #btn-email-request:after{
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 48px;
    height: 45px;
    background: url(../images/request-share.png);
    background-position: 0 45px;
}

#request-modal #share-request ul.nav-tabs li.active:before, #request-modal #share-request ul.nav-tabs li.active:after{
    bottom: -14px;
	left: 24px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#request-modal #share-request ul.nav-tabs li.active:before{
    border-color: rgba(183, 183, 183, 0);
	border-bottom-color: #B7B7B7;
	border-width: 9px;
	margin-left: -9px;
}

#request-modal #share-request ul.nav-tabs li.active:after{
    border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 8px;
	margin-left: -8px;
}

#request-modal #share-request .tab-content{
    margin-top: 14px;
    margin-bottom: 80px;
    border: 1px solid #B7B7B7;
    border-radius: 4px;
    padding: 6px 15px;
    min-height: 100px;
}

#request-modal #share-request .tab-content textarea{
    font-size: 1.143em;
    border: transparent;
    width: 100%;
    min-height: 100px;
    outline: none;
    resize: none;
    overflow: auto;
}

#request-modal #share-request .tab-content button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#request-modal #share-request .tab-content label{
    font-size: 1.143em;
    color: rgba(0,0,0,0.54);
    font-weight: 500;
    position: relative;
    top: 1px;
}

#request-modal #share-request .tab-content input{
    width: auto;
    border: transparent;
    box-shadow: none;
    outline: none;
}

#request-modal #destination_address{
    display: none;
}

/* Display Guide */

.guide-header h1{
    margin: 25px 0 5px;
    font-size: 1.714em;
    font-weight: normal;
    color: (0,0,0,0.87);
}

.guide-header span{
    color: rgba(0,0,0,0.54);
    margin-right: 3px;
    margin-bottom: 20px;
    display: inline-block;
}

.guide-header .contributor-name{
    color: #FF4081;
}

.guide-header img{
    height: 40px;
    width: 40px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.guide-cover-photo span{
    color: #ffffff;
    font-size: 1.143em;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 10px;
    padding: 5px 20px;
    background: rgba(0,0,0,0.4);
}

.guide-cover-photo img{
    width: 100%;
}

.guide-content .guide-summary-and-map{
    margin-top: 20px;
}

.guide-content .guide-summary{
    margin-top: 30px;
    overflow: auto;
}

.guide-content .guide-summary div{
    float: left;
}

.guide-content .guide-summary .guide-start, .guide-content .guide-summary .guide-end{
    width: 35%;
}

.guide-content .guide-summary .guide-middle{
    width: 26%;
    margin: 0 2%;
}

.guide-content .guide-summary .guide-middle img{
    margin: 0 auto;
    display: block;
}

.guide-content .guide-summary .guide-middle hr{
    border-top: 4px dashed #979797;
    margin: 10px 0;
}

.guide-content .guide-summary span{
    display: block;
    color: rgba(0,0,0,0.54);
}

.guide-content .guide-summary .guide-start > span:first-child, .guide-content .guide-summary .guide-end > span:first-child{
    font-size: 1.143em;
    color: rgba(0,0,0,0.87);
}

.guide-content .guide-summary-and-map #map{
    height:150px; 
    width:100%;
    background-color: #edefed;
}

.guide-content .guide-steps .step-number{
    margin-right: 15px;
    font-size: 1.714em;
    line-height: 1.714em;
    font-weight: bold;
    color: #ffffff;
    background: #607D8B;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -1px;
}

.guide-content .guide-steps .step-description{
    font-size: 1.714em;
    font-weight: normal;
}

.guide-content .guide-steps .step-image-wrapper{
    background: #edefed;
}

.guide-content .guide-steps .step-image{
    margin: 20px auto 40px;
    display: block;
    max-width: 100%;
    max-height: 562px;
}

.guide-thanks{
    text-align: center;
}

.guide-thanks .grey-background{
    padding: 30px 20px;
}

.guide-thanks h1{
    color: rgba(0,0,0,0.54);
    font-size: 2.429em;
    margin-top: 0;
}

.guide-thanks form p{
    display: none;
}

.guide-thanks .btn-thanks-hidden{
    width: 300px;
    height: 50px;
    position: relative;
    border-radius: 5px;
    background-color: #b2b2b2;
    margin: 30px auto 0;
}

.guide-thanks .btn-thanks-hidden .btn-thanks{
    font-size: 1.714em;
    font-weight: 500;
    text-transform: capitalize;
    color: #ffffff;
    padding: 0;
    width: 300px;
    height: 50px;
    background-color: #c7c7c7;
    border: transparent;
    border-radius: 5px;
    position: absolute;
    top: -4px;
    left: 0;
    outline: none;
}

.btn-animate{
    background-color: #c7c7c7;
    transform: translate(0,0px);
    transition: transform 400ms ease-in-out, background-color 400ms ease-in-out;
    transition-delay: 100ms;
}

.guide-thanks .btn-thanks-hidden .btn-animate:hover{
    background-color: #FF4081;
    transform: translate(0,4px);
    transition: transform 400ms ease-in-out, background-color 400ms ease-in-out;
    transition-delay: 100ms;
}

.guide-thanks .btn-thanks-hidden .active{
    background-color: #FF4081;
    top: 0;
}

.guide-thanks #thanks-cta{
    color: rgba(0,0,0,0.87);
    display: block;
    width: 80%;
    margin: 20px auto 0;
}

.guide-thanks #thanks-cta a{
    color: #FF4081;
    text-decoration: underline;
    font-weight: 500;
}

.guide-thanks #thanks-cta a:hover{
    color: #FF80AB;
}


/* Temp Profile Page */
#note-from-team{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 60px;
    border-radius: 1px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
}

#note-from-team h1{
    color: rgba(0,0,0,0.54);
    text-align: center;
    margin-bottom: 40px;
}

#note-from-team span{
    display: block;
}

/* Temp Join Us Page */
#joinUsModal h4{
    margin-bottom: 40px;
}

#joinUsModal span.joinUsContent{
    display: block;
    margin: 15px auto;
    width: 92%;
    color: rgba(0,0,0,0.87);
    font-size: 1.143em;
    line-height: 1.5;
    text-align: justify;
}

#joinUsModal a{
    color: #FF4081;
}

#joinUsModal a:hover{
    color: #FF80AB;
    text-decoration: none;
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .hero-background{
        background: #607D8B url(../images/landing-background-mobile.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: scroll;
    }
    
    #NUS-background{
        background-attachment: scroll;
    }
    
    .form-content form .img-optional .optional, .form-content form .img-optional .img-encourage, .form-content form .form-group .optional{
        display: none;
    }
    
    .guide-content .guide-summary-and-map{
        height: auto;
    }
    
    .guide-content .guide-summary{
        margin-top: 0;
    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .hero-background{
        background: #607D8B url(../images/landing-background-mobile.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: scroll;
    }
    
    #NUS-background{
        background-attachment: scroll;
    }

    
    .form-content form .img-optional .optional, .form-content form .img-optional .img-encourage, .form-content form .form-group .optional{
        display: none;
    }
    
    .guide-content .guide-summary-and-map{
        height: auto;
    }
    
    .guide-content .guide-summary{
        margin-top: 0;
    }


}