<! DOCTYPE html>
<html>
    <head>
    </head>
    
    <body>
        <h1>Profile Page</h1>
        <form method='POST' action='' enctype="multipart/form-data"> {% csrf_token %}
            {{user_profile_form.as_p}}
            {{additional_info_form.as_p}}
        <input type='submit' value='Save Edit' />
        </form>
    </body>
</html>