{% extends 'base.html' %}
{% load static %}


{% load i18n %}

{% block navbar %}
{% endblock navbar %}

{% block content %}

<div class="white-background">
    <div class="container form-header page-content">
        <div class="row">
            <div class="col-md-12">
                <img class="logo-color" src="{% static "images/logo-color.png" %}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Login</h1>
                <h4>Mapping out the world</h4>
            </div>
        </div>
    </div>
</div>

<div class="grey-background">
    <div class="container form-content">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="form-inline login" action="" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form.non_field_errors }}
                  <div class="form-group">
                    <input id="id_login" name="login" type="email" class="form-control" placeholder="email"> {{ form.email.errors }}
                  </div>
                  <div class="form-group">
                    <input id="id_password" name="password" type="password" class="form-control" placeholder="password"> {{ form.password.errors }}
                  </div>
                  <hr>
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button type="submit" class="btn btn-default btn-pink">LOGIN</button>
                  <span><a class="forgot-password" href="{% url 'account_reset_password' %}">Forgot Password?</a></span>
                  <div class="float-right">
                      <span>Don't have an account? </span><span><a href="{{ signup_url }}" class="form-link">Get Started!</a></span>
                  </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock footer %}