{% extends 'base.html' %}
{% load static %}

{% load i18n %}
{% load account %}

{% block navbar %}
{% endblock navbar %}

{% block content %}

<div class="white-background">
    <div class="container form-header page-content">
        <div class="row">
            <div class="col-md-12">
                <img class="logo-color" src="{% static "images/logo-color.png" %}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Reset Password</h1>
                <h4>Enter your email to reset it</h4>
            </div>
        </div>
    </div>
</div>


    
<div class="grey-background">
    <div class="container form-content">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <form class="form-inline password_reset" action="{% url 'account_reset_password' %}" method="POST">
                  {% csrf_token %}
                  {{ form.non_field_errors }}
                  <div class="form-group">
                    <input id="id_email" name="email" type="email" class="form-control" placeholder="email"> {{ form.email.errors }}
                  </div>
                  <hr>
                  <button type="submit" class="btn btn-default btn-pink">RESET PASSWORD</button>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

{% endblock content %}

{% block footer %}
{% endblock footer %}