{% extends 'base.html' %}
{% load static %}

{% load i18n %}
{% load account %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
    
<div class="white-background">
    <div class="container form-header page-content">
        <div class="row">
            <div class="col-md-12">
                <img class="logo-color" src="{% static "images/logo-color.png" %}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Done!</h1>
                <h4>We have sent you an email with instructions on how to reset your password. See you soon!</h4>
            </div>
        </div>
    </div>
</div>

<div class="grey-background">
    <div class="container form-content">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                 <a class="a-link" href="">TAKE ME HOME</a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
{% endblock footer %}