{% extends 'base.html' %}


{% block content %}
<div class="grey-background">
    <div class="container page-content">
        <div class="row">
            <div id="note-from-team" class="col-md-8 col-md-offset-2 white-background">
                <h1>Navigate with Confidence, Together!</h1>
                <p>“The roads all look the same, the buildings all unfamiliar, The map on the phone showed bright green lines of the path to take, but the map on the phone and the scene in front of my eyes were so hard to match. That’s when I realized…</p>
                <p>Ohh shit… I am lost…”</p>
                <p>Like many people, I love visiting new places, that quaint little cafe located in the middle of nowhere, a vibrant restaurant in a bustling city, a quiet spot far off from town. Yet the fear and anxiety of getting lost often cause me to hesitate.</p>
                <p>I am poor with directions and hopeless with a conventional map, but I don’t see why that should stop me and the many others like me from discovering the interesting places in this world we live in.</p>
                <p>Pathwaze was started to tackle this problem with the hope that by photo mapping places that we are familiar with for others, these same people will help map places that we have no clue how to get to. By working together to build Pathwaze, we believe that we can all now Navigate with Confidence.</p>
                <br/>
                <span>Mapping Onwards,</span>
                <span>Agus</span>
                <span>Pathwazer</span>
                <hr>
                <p>We have just started and are quickly building the components for Pathwaze to become a reality. We are currently working hard to build the <b>guide creation component</b> and hope to have this ready for you to start adding your own guides in <b>October</b>.</p>
                <a class="a-link more-guides" href="{% url 'browse_guides' browse.slug %}">VIEW GUIDES</a>
            </div>
        </div>
    </div>
</div>

<!--        <p>Full Name: {{user.first_name}} {{user.last_name}}</user></p>
        <p>Username: {{user.username}}</p>
        <p>Email: {{user.email}}</p>
        <br/>
        <img src = {{MEDIA_URL}}{{contributor.profile_pic}} width="100" />
        <br/>
        <p>Country: {{contributor.country}}</p>
        <p>City: {{contributor.city}}</p>
        <p>Postal Code: {{contributor.postal_code}}</p>
        <p>Address: {{contributor.address}}</p>
        <a href="http://pathwaze-workspace-agustiadi-3.c9.io/contributor/edit_profile/" /><button type="button">Edit Profile</button></a> -->
{% endblock content %}

{% block footer %}
  <div class="grey-background">
    <section class="footer"><!--Footer Bar-->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h5>All guides are built and contributed by our community. Let's navigate with confidence, together!</h5>
            <span>Copyright &copy Pathwaze 2015. Mapping the world starting from the sunny island city of Singapore.</span>
          </div>
          <div class="col-md-4">
            <h5>Talk to us</h5>
            <span>The guy who is always getting lost:</span>
            <a href="mailto:agustiadi@pathwaze.org">agustiadi@pathwaze.org</a>
            <span>The guy who can't understand how the guy above is always lost:</span>
            <a href="mailto:joel@pathwaze.org">joel@pathwaze.org</a>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock footer %}