{% extends 'base.html' %}
{% load static %}

{% load i18n %}

{% block navbar %}
{% endblock navbar %}

{% block content %}

<div class="white-background">
    <div class="container form-header page-content">
        <div class="row">
            <div class="col-md-12">
                <img class="logo-color" src="{% static "images/logo-color.png" %}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Join Our Community</h1>
                <h4>Help us build a world where nobody gets lost</h4>
            </div>
        </div>
    </div>
</div>

<div class="grey-background">
    <div class="container form-content">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="form-inline signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                  {% csrf_token %}
                  {{ form.non_field_errors }}
                  <div class="form-group">
                    <input id="id_username" name="username" type="text" class="form-control" placeholder="name"> {{ form.username.errors }}
                  </div>
                  <div class="form-group">
                    <input id="id_email" name="email" type="email" class="form-control" placeholder="email"> {{ form.email.errors }}
                  </div>
                  <div class="form-group">
                    <input id="id_password1" name="password1" type="password" class="form-control" placeholder="password"> {{ form.password1.errors }}
                  </div>
                  <hr>
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button type="submit" class="btn btn-default btn-pink">SIGN UP</button>
                  <div class="center">
                    <span>Already have an account? </span><span><a href="{{ login_url }}" class="form-link">Login!</a></span>
                  </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock footer %}